{% extends "www/base.html" %}
{% load static from staticfiles %}

{% block title %}
    ABOUT US :: KNUT X LIKE LION
{% endblock title %}

{% block content %}

    <!-- Start Bottom Header -->
    <div class="header-bg page-area">
        <div class="home-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center" style="padding:100px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Header -->

    <!-- Start team Area -->
    <div id="team" class="our-team-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>한국교통대학교 운영진</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="tile-container">
                        <!-- Start column -->
                        <div class="tile">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a>
                                        <img src="img/team/mpy.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="https://web.facebook.com/audvuddbs">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/estoyun/">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/estoyun">
                                                    <i class="fa fa-github-square"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>명평윤</h4>
                                    <p>대표/재무담당</p>
                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                        <div class="tile">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a>
                                        <img src="img/team/ckr.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com/profile.php?id=100005615231408">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.github.com/ckr3453">
                                                    <i class="fa fa-github-square"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/xx_ckr/?hl=ko">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>조경록</h4>
                                    <p>부대표/인사담당</p>
                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                        <div class="tile">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a>
                                        <img src="img/team/racoon.png" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>박주완</h4>
                                    <p>디자인/홍보담당</p>
                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                        <div class="tile">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a>
                                        <img src="img/team/psd.png" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>박상돈</h4>
                                    <p>교육담당</p>
                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                        <div class="tile">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a>
                                        <img src="img/team/cr3ux53c.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="https://loopback.kr" target="_blank">
                                                    <i class="fab fa-wordpress"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/cr3ux53c" target="_blank">
                                                    <i class="fab fa-github"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailto:cr3ux53c@gmail.com">
                                                    <i class="fas fa-at"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>임현석</h4>
                                    <p>교육담당</p>
                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start memeber Area -->
    <div id="team" class="our-team-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>멋쟁이 사자처럼 한국교통대 7기 멤버들</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="tile-container">
                        <!-- Start column -->
                        <div class="tile">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a>
                                        <img src="img/team/question_mark.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>다음 멤버는?</h4>
                                    <p>Member</p>
                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                        <div class="tile">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a>
                                        <img src="img/team/question_mark.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>다음 멤버는?</h4>
                                    <p>Member</p>
                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                        <div class="tile">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a>
                                        <img src="img/team/question_mark.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>다음 멤버는?</h4>
                                    <p>Member</p>
                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                        <div class="tile">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a>
                                        <img src="img/team/question_mark.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>다음 멤버는?</h4>
                                    <p>Member</p>
                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                        <div class="tile">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a>
                                        <img src="img/team/question_mark.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/cr3ux53c">
                                                    <i class="fa fa-github-square"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>다음 멤버는?</h4>
                                    <p>Member</p>
                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}