{% extends "www/base.html" %}
{% load static from staticfiles %}

{% block title %}
    과제 :: KNUT X LIKE LION
{% endblock title %}

{% block content %}

    <!-- Start Blog Area -->
    <div id="news" class="blog-area" style="">
        <div class="blog-inner area-padding">
            <div class="blog-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>과제 제출</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for assignment in assignments %}
                        <!-- Start Left Blog -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-blog">
                                <div class="blog-meta">
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>{{ assignment.datetime_created }}&nbsp;
                                    </span>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a href="{{ assignment.id }}">{{ assignment.title }}</a>
                                    </h4>
                                    <p>
                                        {{ assignment.summary }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Left Blog-->
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-text">
                                <span>
                                    <a href="{% url 'www:assignment_new' %}" class="ready-btn">새 과제 업로드</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

{% endblock content %}