{% extends "base.html" %}
{% load static %}
{% block HeadLibs %}
    <!-- SEO -->
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Libraries CSS Files -->
    <link href="{% static 'www/lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
    <link href="{% static 'www/lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'www/lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'www/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="{% static 'www/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'www/lib/venobox/venobox.css' %}" rel="stylesheet">
    <!-- Nivo Slider Theme -->
    <link href="{% static 'www/css/nivo-slider-theme.css' %}" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link href="{% static 'www/css/style.css' %}" rel="stylesheet">
    <!-- Responsive Stylesheet File -->
    <link href="{% static 'www/css/responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'www/css/custom.css' %}" id="theme-stylesheet">

    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->

{% endblock HeadLibs %}
{% block title %}멋쟁이 사자처럼 at 한국교통대학교{% endblock title %}

{% block nav %}

    <div id="preloader"></div>
    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area" style="background: rgba(0, 0, 0, 0.4); height: 65px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Navigation -->
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="/">
                                    <h1 style="font-size: 30px !important;">KNUT <span>X</span> LIKE LION</h1>
                                    <!-- Uncomment below if you prefer to use an image logo -->
                                    <!-- <img src="img/logo.png" alt="" title=""> -->
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a class="page-scroll" href="{% url 'www:notice_list' %}">새 소식</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="{% url 'www:team' %}">TEAM</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="{% url 'www:portfolio' %}">포트폴리오</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="{% url 'www:faq' %}">FAQ</a>
                                    </li>
                                    {#                                    {% if user.is_authenticated %}#}
                                    {#                                        <li>#}
                                    {#                                            <a class="page-scroll" href="{% url 'www:assignments' %}">과제 제출</a>#}
                                    {#                                        </li>#}
                                    {#                                    {% endif %}#}
                                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">바로가기<span
                                            class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a class="page-scroll" href="https://class.likelion.org" target="_self">클래스 라이언</a>
                                            </li>
                                            <li>
                                                <a href="https://opentutorials.org/course/3663" target="_self">오픈튜토리얼스</a>
                                            </li>
                                            <li>
                                                <a href="https://facebook.com/likelionKNUT" target="_self">Facebook 페이지</a>
                                            </li>
                                            {#                                            <li><a href="https://xn--3v4ba966l.likelion-knut.dev" target="_blank">실험실</a></li>#}
                                            <li>
                                                <a href="https://calendar.google.com/calendar?cid=bW5kOWdqMTZjZXVnYTd2MmZoaGpxYmpmcDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
                                                   target="_blank">공식 일정</a>
                                            </li>
                                            <li>
                                                <a href="https://bit.ly/2WDQuVW" target="_blank">운영회칙</a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% if user.is_authenticated %}
                                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.advanceduser.nickname|default_if_none:user.username }}<span
                                                class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#modal-edit-profile" data-toggle="modal">프로필 편집</a>
                                                </li>
                                                <li>
                                                    <a href="#modal-edit-password" data-toggle="modal">비밀번호 변경</a>
                                                </li>
                                                {% if user.is_staff %}
                                                    <li>
                                                        <a href="/admin" data-toggle="modal">관리자 페이지</a>
                                                    </li>
                                                {% endif %}
                                                <li>
                                                    <form id="form-logout" action="/" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="submit_type" value="logout"/>
                                                    </form>
                                                    <a href="#" onclick="$('#form-logout').submit()">로그아웃</a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="#modal-login" data-toggle="modal">로그인</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- navbar-collapse -->
                        </nav>
                        <!-- END: Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
    </header>
    <!-- header end -->

{% endblock nav %}

{% block header %}

    <!-- Start Bottom Header -->
    <div class="header-bg page-area">
        <div class="home-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center" style="padding:100px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Header -->

{% endblock header %}

{% block face %}

{% endblock face %}

{% block content %}

{% endblock content %}

{% block footer %}

    <footer id="contact">
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <div class="footer-logo">
                                    <h2>KNUT <span>X</span> LIKE LION</h2>
                                </div>

                                <p>"멋쟁이 사자처럼 at 한국교통대학교"는 비전공자를 대상으로 프로그래밍을 가르치는 대학 연합 교육 단체 "멋쟁이 사자처럼"의 한국교통대학교 운영진입니다.</p>
                                <div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a href="https://github.com/likelionknut" target="_blank"><i class="fab fa-github"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://opentutorials.org/course/3663" target="_blank"><i class="fas fa-university"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://facebook.com/likelionKNUT" target="_blank"><i class="fab fa-facebook"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>information</h4>
                                <p>
                                    문의 및 건의사항은 메일로 보내주십시오.
                                </p>
                                <p>
                                    매월 둘째주 수요일(KST)은 서버 정기 점검일입니다. 일시적으로 서버가 응답하지 않을 수 있습니다.
                                </p>
                                <div class="footer-contacts">
                                    <p><span>Email: </span><a href="mailto:likelionknut@gmail.com">likelionknut@gmail.com</a></p>
                                    <p><span>Location: </span>충청북도 충주시 대학로 50</p>
                                    <p><span id="siteseal"><script async type="text/javascript"
                                                                   src="https://seal.godaddy.com/getSeal?sealID=UUn5HjOP9jqqwK6Biu8P6Nai1dLyz7qyoY0YIgjqteFGIfmdsdYOR5evFCdi"></script></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>POWERED BY</h4>
                                <div class="container">
                                    <img style="margin: 5px" src="{% static 'images/git.png' %}" alt="" width="50px">
                                    <img style="margin: 5px" src="{% static 'images/python.png' %}" alt="" width="50px">
                                    <img style="margin: 5px" src="{% static 'images/django.png' %}" alt="" width="50px">
                                    <img style="margin: 5px" src="{% static 'images/google.png' %}" alt="" width="50px">
                                    <img style="margin: 5px" src="{% static 'images/aws.png' %}" alt="" width="50px">
                                </div>
                            </div>
                        </div>
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>SERVER STATUS</h4>
                                <div class="flicker-img">
                                    {#                                    todo 비동기로 받아올 것#}
                                    {#                                    <img alt="Website" src="https://img.shields.io/website-RUNNING-DOWN-green-red/http/54.180.98.194.svg?label=Deploy&logo=ubuntu&style=popout-square">#}
                                    {#                                    <img alt="Website" src="https://img.shields.io/website-RUNNING-DOWN-green-red/http/52.78.170.250.svg?color=yellow&label=Labs&logo=nginx&style=popout-square">#}
                                    {#                                    <img alt="Website" src="https://img.shields.io/website-RUNNING-DOWN-green-red/http/52.78.170.250.svg?color=blue&label=VM&logo=windows&logoColor=00ADEF&style=popout-square">#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright text-center">
                            <p>
                                Copyright © 2019 <strong>멋쟁이 사자처럼 at 한국교통대학교 운영진</strong>, All rights reserved.
                            </p>
                        </div>
                        <div class="credits">
                            <a href="https://github.com/likelionknut/likelion-knut-django/wiki/개인정보처리방침" target="_blank">개인정보처리방침</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                            -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock footer %}


{% block modal %}

    <!-- LoginModal -->
    <div class="modal fade" id="modal-login" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">로그인</h4>
                </div>
                <div class="modal-body">
                    <form action="/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="이름 또는 ID" data-msg="이름 또는 ID를 입력하십시오.">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="비밀번호" data-msg="비밀번호를 입력하십시오.">
                        </div>
                        <input type="hidden" name="submit_type" value="login">
                        <button type="submit" class="ready-btn" style="margin-top: 0">로그인</button>
                    </form>
                    <p>
                    <div><a href="#modal-signup" data-toggle="modal" data-dismiss="modal">아직 회원이 아니신가요?</a></div>
                    <div><a href="#modal-reset-password" data-toggle="modal" data-dismiss="modal">비밀번호를 잊으셨나요?</a></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <!-- SignupModal -->
    <div class="modal fade" id="modal-signup" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">회원가입</h4>
                </div>
                <div class="modal-body">
                    <form action="/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="로그인에 사용할 이름 또는 ID" data-msg="이름을 입력하십시오.">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="비밀번호 변경에 사용할 E-mail" data-msg="Email 주소를 입력하십시오.">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="비밀번호" data-msg="비밀번호를 입력하십시오.">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password-verify" class="form-control" placeholder="비밀번호 확인" data-msg="비밀번호를 입력하십시오.">
                        </div>
                        <div class="form-group">
                            <input id="register-agree" name="registerAgree" type="checkbox" required="" value="1" data-msg="Your agreement is required" class="checkbox-template">
                            <label for="register-agree"><a href="https://github.com/likelionknut/likelion-knut-django/wiki/개인정보처리방침" target="tab-gdpr">개인정보처리방침</a>을 읽었으며 이에 동의합니다.</label>
                        </div>
                        <input type="hidden" name="submit_type" value="signup">
                        <button type="submit" class="ready-btn" style="margin-top: 0">회원가입</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <!-- EditProfileModal -->
    <div class="modal fade" id="modal-edit-profile" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">프로필 편집</h4>
                </div>
                <div class="modal-body">
                    {% if user.is_authenticated %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>
                                {{ profile_form.as_p }}
                            </p>
                            <input type="hidden" name="submit_type" value="edit_profile">
                            <p>
                                <button type="submit" class="ready-btn" style="margin-top: 0">저장</button>
                            </p>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <!-- EditProfileModal -->
    <div class="modal fade" id="modal-edit-password" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">비밀번호 변경</h4>
                </div>
                <div class="modal-body">
                    {% if user.is_authenticated %}
                        <form method="post">
                            {% csrf_token %}
                            <p>
                                {{ edit_password_form.as_p }}
                            </p>
                            <input type="hidden" name="submit_type" value="edit_password">
                            <p>
                                <button type="submit" class="ready-btn" style="margin-top: 0">저장</button>
                            </p>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <!-- EditProfileModal -->
    <div class="modal fade" id="modal-reset-password" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">비밀번호 재설정</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>
                            {{ reset_password_form.as_p }}
                        </p>
                        <input type="hidden" name="submit_type" value="reset_password">
                        <p>
                            <button type="submit" class="ready-btn" style="margin-top: 0">전송</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

{% endblock modal %}

{% block JavaScriptLibs %}
    <!-- JavaScript Libraries -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{% static 'www/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'www/lib/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'www/lib/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'www/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'www/lib/parallax/parallax.js' %}"></script>
    <script src="{% static 'www/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'www/lib/nivo-slider/js/jquery.nivo.slider.js' %}" type='text/javascript'></script>
    <script src="{% static 'www/lib/appear/jquery.appear.js' %}"></script>
    <script src="{% static 'www/lib/isotope/isotope.pkgd.min.js' %}"></script>
    <!-- Notifications-->
    <script src="{% static 'www/lib/messenger-hubspot/build/js/messenger.min.js' %}"></script>
    <script src="{% static 'www/lib/messenger-hubspot/build/js/messenger-theme-flat.js' %}"></script>
    <script src="{% static 'www/js/main.js' %}"></script>
    <script src="{% static 'www/js/custom.js' %}"></script>
    {% if flash_data == 'failedLogin' %}
        <script>
            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
                theme: 'flat',
                messageDefaults: {
                    showCloseButton: true
                }
            };
            Messenger().post({
                message: "로그인 시도가 실패했습니다.",
                type: "error",
                id: 0
            });
        </script>
    {% endif %}
    {% if flash_data == 'failedSignup' %}
        <script>
            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
                theme: 'flat',
                messageDefaults: {
                    showCloseButton: true
                }
            };
            Messenger().post({
                message: "회원가입이 실패했습니다.<br>이미 존재하는 이름이 있습니다.",
                type: "error",
                id: 0
            });
        </script>
    {% endif %}
    {% if flash_data == 'notMatchPassword' %}
        <script>
            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
                theme: 'flat',
                messageDefaults: {
                    showCloseButton: true
                }
            };
            Messenger().post({
                message: "비밀번호가 일치하지 않습니다.",
                type: "error",
                id: 0
            });
        </script>
    {% endif %}
    {% if flash_data == 'successSignup' %}
        <script>
            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
                theme: 'flat',
                messageDefaults: {
                    showCloseButton: true
                }
            };
            Messenger().post({
                message: "Hello, World! 반갑습니다!<br>회원가입에 성공했습니다.",
                type: "success",
                id: 0
            });
        </script>
    {% endif %}
{% endblock JavaScriptLibs %}
