{% extends "www/base.html" %}
{% load static %}
{% block content %}
    <div id="faq" class="faq-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>자주 하는 질문들</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="tab-menu">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#p-view-1" role="tab" data-toggle="tab">지원 및 선발</a>
                            </li>
                            <li>
                                <a href="#p-view-2" role="tab" data-toggle="tab">활동 계획 및 일정</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">

                        <div class="tab-pane active" id="p-view-1">
                            <div class="tab-inner">
                                <div class="event-content head-team">
                                    <!-- FAQ BOX -->
                                    <br>
                                    <div class="faq-details">
                                        <div class="panel-group" id="accordion">
                                            {% for faq in faq_1 %}
                                                <!-- Panel Default -->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="check-title">
                                                            <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                                                <span class="acc-icons"></span>{{ faq.title }}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="check1" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <p>
                                                                {{ faq.content }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Panel Default -->
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <br>
                                    <!-- End FAQ BOX -->
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="p-view-2">
                            <div class="tab-inner">
                                <div class="event-content head-team">
                                    <!-- FAQ BOX -->
                                    <br>
                                    <div class="faq-details">
                                        <div class="panel-group" id="accordion">
                                            {% for faq in faq_2 %}
                                                <!-- Panel Default -->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="check-title">
                                                            <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check2">
                                                                <span class="acc-icons"></span>{{ faq.title }}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="check2" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <p>
                                                                {{ faq.content }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Panel Default -->
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <br>
                                    <!-- End FAQ BOX -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end Row -->
    </div>

{% endblock content %}
