{% extends "www/base.html" %}
{#<body data-spy="scroll" data-target="#navbar-example">#}

{% block content %}

    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">
                <!-- Start single blog -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <article class="blog-post-wrapper">
                                <div class="post-thumbnail">
                                    {#                  <img src="../img/blog/HelloWorld.png" alt="" />#}
                                </div>
                                <div class="post-information">
                                    <h2>{{ notice.title }}</h2>
                                    <div class="entry-meta">
                                        <span class="author-meta"><i class="fa fa-user"></i> <a href="mailto:likelionknut@gmail.com">{{ notice.author }}</a></span>
                                        <span><i class="fa fa-clock-o"></i>{{ notice.date_created }}</span>
                                    </div>
                                    <div class="entry-content">
                                        {{ notice.content|safe }}
                                    </div>
                                    {% if notice.file %}
                                        <p style="margin:20px">
                                            <img src="{{ notice.file.url }}" alt="" width="auto">
                                        </p>
                                    {% endif %}
                                </div>
                            </article>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Area -->

{% endblock content %}