{% extends "www/base.html" %}
{% load static from staticfiles %}

{% block title %}
    새로운 소식 :: KNUT X LIKE LION
{% endblock title %}

{% block content %}

    <!-- Start Blog Area -->
    <div id="news" class="blog-area" style="">
        <div class="blog-inner area-padding">
            <div class="blog-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>새로운 소식</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for i in notice %}
                        <!-- Start Left Blog -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-blog">
                                <div class="single-blog-img">
{#                                    <a href="{{ i.title }}">#}
{#                                        <img src="{{ i.thumbnail.url }}" alt="">#}
{#                                    </a>#}
                                </div>
                                <div class="blog-meta">
                                    <span class="date-type">
                                        <i class="fa fa-user"></i>{{ i.author }}
                                        <i class="fa fa-calendar"></i>{{ i.date_created }}&nbsp;
                                    </span>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a href="{{ i.title }}">{{ i.title }}</a>
                                    </h4>
                                    <p>
                                        {{ i.summary }}
                                    </p>
                                </div>
                                <span>
                                <a href="{{ i.title }}" class="ready-btn">Read more</a>
                              </span>
                            </div>
                        </div>
                        <!-- End Left Blog-->
                    {% endfor %}
                </div>
{#                <div class="row">#}
{#                    <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="single-blog">#}
{#                            <div class="blog-text">#}
{#                                <span>#}
{#                                    <a href="{% url 'www:notice_new' %}" class="ready-btn">새 공지</a>#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <!-- End Blog -->
{% endblock content %}