{% extends "www/base.html" %}
{% load static from staticfiles %}

{% block title %}
    공지사항 :: KNUT X LIKE LION
{% endblock title %}

{% block content %}

    <!-- Start Bottom Header -->
  <div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center" style="padding:100px">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Header -->

    <!-- Start Blog Area -->
    <div id="news" class="blog-area" style="">
        <div class="blog-inner area-padding">
            <div class="blog-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>새로운 소식</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for post in posts %}
                        <!-- Start Left Blog -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-blog">
                                <div class="single-blog-img">
                                    <a href="{{ post.title }}">
                                        <img src="{{ post.thumbnail.url }}" alt="">
                                    </a>
                                </div>
                                <div class="blog-meta">
                                    <span class="date-type">
                                        <i class="fa fa-user"></i>{{ post.author }}
                                        <i class="fa fa-calendar"></i>{{ post.date_created }}&nbsp;
                                    </span>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a href="{{ post.title }}">{{ post.title }}</a>
                                    </h4>
                                    <p>
                                        {{ post.summary }}
                                    </p>
                                </div>
                                <span>
                                <a href="{{ post.title }}" class="ready-btn">Read more</a>
                              </span>
                            </div>
                        </div>
                        <!-- End Left Blog-->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->
{% endblock content %}