{% extends "www/base.html" %}
{% load static from staticfiles %}

{% block title %}
    TEAM :: KNUT X LIKE LION
{% endblock title %}

{% block content %}

    <!-- Start team Area -->
    <div id="team" class="our-team-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>7기 사자들</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="tile-container">

                        {% for i in members %}
                            <!-- Start column -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="card hovercard">
                                    {% if i.advanceduser.background %}
                                        <div class="cardheader"
                                             style="background-image: url({{ i.advanceduser.background.url }});">
                                        </div>
                                    {% else %}
                                        <div class="cardheader"
                                             style="background-image: url('{% static 'www/img/team/default-background-profile.jpg' %}');">
                                        </div>
                                    {% endif %}
                                    <div class="avatar">
                                        {% if i.advanceduser.picture %}
                                            <img alt="" src="{{ i.advanceduser.picture.url }}">
                                        {% else %}
                                            <img alt="" src="{% static 'images/favicon.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="info">
                                        <div class="title">
                                            <a target="_blank">{{ i.advanceduser.nickname|default_if_none:i.username }}</a>
                                        </div>
                                        <div class="desc">{{ i.advanceduser.position|default_if_none:"" }}</div>
                                        <div class="desc">{{ i.advanceduser.message|default_if_none:"" }}</div>
                                    </div>
                                    <div class="bottom">
                                        {% if i.advanceduser.link1 %}
                                            <a class="btn btn-primary btn-twitter btn-sm" href="{{ i.advanceduser.link1 }}">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        {% endif %}
                                        {% if i.advanceduser.link2 %}
                                            <a class="btn btn-primary btn-twitter btn-sm" href="{{ i.advanceduser.link2 }}">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        {% endif %}
                                        {% if i.advanceduser.link3 %}
                                            <a class="btn btn-primary btn-twitter btn-sm" href="{{ i.advanceduser.link3 }}">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- End column -->
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start team Area -->
    <div id="team" class="our-team-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>7기 운영진</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="tile-container">

                        {% for i in operators %}
                            <!-- Start column -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="card hovercard">
                                    {% if i.advanceduser.background %}
                                        <div class="cardheader"
                                             style="background-image: url({{ i.advanceduser.background.url }});">
                                        </div>
                                    {% else %}
                                        <div class="cardheader"
                                             style="background-image: url('{% static 'www/img/team/default-background-profile.jpg' %}');">
                                        </div>
                                    {% endif %}
                                    <div class="avatar">
                                        {% if i.advanceduser.picture %}
                                            <img alt="" src="{{ i.advanceduser.picture.url }}">
                                        {% else %}
                                            <img alt="" src="{% static 'images/favicon.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="info">
                                        <div class="title">
                                            <a target="_blank">{{ i.advanceduser.nickname|default_if_none:i.username }}</a>
                                        </div>
                                        <div class="desc">{{ i.advanceduser.message|default_if_none:"" }}</div>
                                    </div>

                                    <div class="bottom">
                                        {% if i.advanceduser.link1 %}
                                            <a class="btn btn-warning btn-sm" href="{{ i.advanceduser.link1 }}" style="margin: 4px">
                                                <i class="fas fa-blog"></i>
                                            </a>
                                        {% endif %}
                                        {% if i.advanceduser.link2 %}
                                            <a class="btn btn-info btn-sm" href="{{ i.advanceduser.link2 }}" style="margin: 4px">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        {% endif %}
                                        {% if i.advanceduser.link3 %}
                                            <a class="btn btn-success btn-sm" href="{{ i.advanceduser.link3 }}" style="margin: 4px">
                                                <i class="fab fa-github"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- End column -->
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}